.hide{
  display: none;
}
.show{
  display: block;
}
.img{
  background-size: cover;
  background-repeat: no-repeat;
}
ul{
  padding: 0;
  margin: 0;
}
ul>li{
  list-style: none;
}
a{
  color: #565656;
  &:active{
    color: #565656;
  }
}